html,
body,
#root {
    max-width: 95vw;
    max-height: 90vh;
    margin: 0 auto;
    display: flex;
}

.App {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 6rem;
    align-self: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(227, 227, 227);
    h1 {
        font-size: 50pt;
        font-stretch: ultra-expanded;
        font-weight: 30;
        width: 100%;
    }
}
